<div class="home-container">
  <div class="hero-container">
    <img src="/img/foto-fresas-portada.jpeg" class="hero-image">
  </div>

  <div class="welcome-text">
    <h1>Las Mejores Fresas con Crema</h1>
    <p>Sabor 100% local, preparadas al momento.</p>
  </div>

  <div class="action-buttons">
    <button routerLink="/menu" class="btn btn-menu">📖 Ver Menú</button>
    <button routerLink="/order" class="btn btn-order">🍓 HACER UN PEDIDO</button>
  </div>

  <section class="visit-us-section">
    <div class="info-card">
      <div class="hours-container">
        <img src="/img/foto-local.jpeg" alt="Nuestro local" class="local-photo">
        <div class="hours-text">
          <h3>🕒 Horarios</h3>
          <ul>
            <li><strong>Lunes a Viernes:</strong> 12:00 PM - 8:00 PM</li>
            <li><strong>Sábados:</strong> 11:00 AM - 9:00 PM</li>
            <li><strong>Domingos:</strong> Cerrado</li>
          </ul>
        </div>
      </div>
      
      <div class="map-container">
        <h3> Ubicación</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.298176018516!2d-96.89687732390904!3d19.528808137599714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85db33003128f2ad%3A0x4c842d434d087f28!2sFresas%20con%20crema%20xalapa!5e0!3m2!1ses-419!2sus!4v1778550060245!5m2!1ses-419!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </section>
</div>